body {
    height: 100%;
    width: 100%;
    background-image: url("/assets/img/weddingbells.gif");
    background-size: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff90;
    width: 69%;
    height: 100%;
}

.title {
    text-align: center;
    font-family: Snell Roundhand, cursive;
}

.contact {
    text-align: center;
    margin: 0 auto;
}

/* guestbook */
.guestbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff90;
    width: 69%;
    height: 100vh;
}

blink {
    -webkit-animation: 1s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
    animation: 1s linear infinite condemned_blink_effect;
  }
  
  /* for Safari 4.0 - 8.0 */
  @-webkit-keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  @keyframes condemned_blink_effect {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }